model_list:
  - model_name: unsloth/gemma-3-4b-it-qat-GGUF:Q4_K_M
    litellm_params:
      model: openai/unsloth/gemma-3-4b-it-qat-GGUF:Q4_K_M
      api_base: http://192.168.1.71:9876/v1
      api_key: deo
  - model_name: unsloth_Qwen3-VL-4B-Instruct-GGUF_Qwen3-VL-4B-Instruct-UD-Q4_K_XL.gguf
    litellm_params:
      model: openai/unsloth_Qwen3-VL-4B-Instruct-GGUF_Qwen3-VL-4B-Instruct-UD-Q4_K_XL.gguf
      api_base: http://192.168.1.72:9877/v1
      api_key: deo

general_settings:
  master_key: deo
